<h3>Pick a subreddit</h3>
<p>↡↡ Only works with 'aww' ↡↡</p>
<input type="text" id="Subreddit" value="aww"/>
<button (click)="getPosts()">Search</button>
<p>↑↑ Error if not 'aww' ↑↑ ---- All subreddit models differ using https://app.quicktype.io/ due to conversion method</p>
<br/><br/>
<div *ngIf="reddit">
  <div *ngFor="let child of reddit.data.children; let i = index">
    <div *ngIf="i < 10">
      <table class=".rwd-table">
        <tr>
          <td>{{child.data.title}}<br/>
            <img src="{{child.data.thumbnail}}" /><br/>
            <a href="https://www.reddit.com{{child.data.permalink}}">Check it out on Reddit!</a>
            <br/><br/><br/>
        </tr>
      </table>
    </div>
  </div>
</div>